{% extends "plantilla_general.html.twig" %}
  {% block specific_css %}
    /css/portada.css
  {% endblock %}

  {% block main %}
    <main>
      <div>
        <h1>404</h1>
        <h2>Página no encontrada</h2>
        <p>¡Oops! La página que estás buscando no se pudo encontrar.</p>
        <p>Por favor, verifica la URL o <a href="/" style="text-decoration: underline;">vuelve a la página de inicio</a>.</p>
      </div>
    </main>
  {% endblock %}
