{% extends "plantilla_general.html.twig" %}

  {% block page_title %}- Management{% endblock %}

  {% block specific_css %}/css/management.css{% endblock %}

  {% block aside %}{% endblock %}

  {% block main %}
    <main>
    </main>
  {% endblock %}
